body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 5px;
    background: linear-gradient(to right, #9056b4, #6c07ab);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.dark {
    background: #424242;
    color: white;
}

.MMlogo {
    height: 120px;
}

.MMLogo {
    height: 120px;
    padding: 15px 40px;
}

.BackColor {
    height: 40px;
}

.btnColor {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 50px 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0px;
}

.loginButton {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.box {
    background-color: #6c07ab;
    height: 570px;
    width: 500px;
    border-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.233) 15px 15px 15px;
}

.txtLogin {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txtbox {
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 400px;
    font-size: 20px;
    outline: none;
    box-sizing: border-box; 
    padding-right: 45px; 
    padding: 30px;
}

.txtl {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0px 340px 0px 0px;
}

.navbar {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.txtbtnLogin {
    color: rgb(0, 0, 0);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.txtLogin {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.Eye {
    height: 20px;
}

.btnEye {
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.RecSenha {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #6c07ab;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.MMlogof {
    height: 70px;
    padding: 25px 40px;
}

.input-container {
    position: relative;
    width: 400px; 
}

.input-container .txtbox {
    width: 100%; 
    box-sizing: border-box; 
    padding-right: 45px; 
}

.btnEye {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.btnLogin {
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}